{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block extra_head %}
<style>
    ol.custom-counter {
        counter-reset: custom-counter;
    }
    ol.custom-counter li {
        counter-increment: custom-counter;
        position: relative;
        padding-left: .6em; /* Adjust padding to match the space needed for the counter */
    }
    ol.custom-counter li::before {
        content: "[" counter(custom-counter) "]";
        position: absolute;
        left: -2.5em;
        width: 2em; /* Adjust width to fit the space needed for the counter */
        text-align: right;
        margin-right: 0.5em;
    }
</style>
{% endblock %}
{% block content %}
<h2>Articles</h2>
<ol class="custom-counter">
    {% for article in publications %}
    {% if article.type == "Journal" %}
    <li class="list-group-item">
        {{ article.authors }} ({{ article.year }})<br/>
        <a href="{{ article.doi}}">{{ article.title }}</a><br/>
        <em>{{ article.journal }}</em><br/>
        {% if article.volume %} vol. {{ article.volume }}, {% endif %} {% if article.issue %} issue {{ article.issue }}, {% endif %} {% if article.pages %} pp. {{ article.pages }}{% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ol>
<h2>Protocols</h2>
<ol class="custom-counter">
    {% for article in publications %}
    {% if article.type == "Protocol" %}
    <li class="list-group-item">
        {{ article.authors }} ({{ article.year }})<br/>
        <a href="{{ article.doi}}">{{ article.title }}</a><br/>
        <em>{{ article.journal }}</em><br/>
        {% if article.volume %} vol. {{ article.volume }}, {% endif %} {% if article.issue %} issue {{ article.issue }}, {% endif %} {% if article.pages %} pp. {{ article.pages }} {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ol>
<h2>Dissertation</h2>
{% for article in publications %}
{% if article.type == "Dissertation" %}
<p>{{ article.authors }} ({{ article.year }})<br/>
    <a href="{{ article.doi}}">{{ article.title }}</a><br/>
    <em>{{ article.journal }}</em>
</p>
{% endif %}
{% endfor %}
{% endblock %}
