{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block extra_head %}
<style>
    ol.custom-counter {
        counter-reset: custom-counter;
    }
    ol.custom-counter li {
        counter-increment: custom-counter;
        position: relative;
        padding-left: .6em; /* Adjust padding to match the space needed for the counter */
    }
    ol.custom-counter li::before {
        content: "[" counter(custom-counter) "]";
        position: absolute;
        left: -2.5em;
        width: 2em; /* Adjust width to fit the space needed for the counter */
        text-align: right;
        margin-right: 0.5em;
    }
</style>
{% endblock %}
{% block content %}
{% for article in publications.article %}
    {% if forloop.first %}
        <h2>Articles</h2>
        <ol class="custom-counter">
    {% endif %}
            <li class="list-group-item">
                {{ article.authors }} ({{ article.year }})<br/>
                <a href="{{ article.doi}}">{{ article.title }}</a><br/>
                <em>{{ article.journal }}</em><br/>
                {% if article.volume %} vol. {{ article.volume }}, {% endif %} {% if article.issue %} issue {{ article.issue }}, {% endif %} {% if article.pages %} pp. {{ article.pages }}{% endif %}
            </li>
    {% if forloop.last %}
        </ol>
    {% endif %}
{% endfor %}
{% for article in publications.review %}
    {% if forloop.first %}
        <h2>Reviews</h2>
        <ol class="custom-counter">
    {% endif %}
            <li class="list-group-item">
                {{ article.authors }} ({{ article.year }})<br/>
                <a href="{{ article.doi}}">{{ article.title }}</a><br/>
                <em>{{ article.journal }}</em><br/>
                {% if article.volume %} vol. {{ article.volume }}, {% endif %} {% if article.issue %} issue {{ article.issue }}, {% endif %} {% if article.pages %} pp. {{ article.pages }}{% endif %}
            </li>
    {% if forloop.last %}
        </ol>
    {% endif %}
{% endfor %}
{% for article in publications.protocol %}
    {% if forloop.first %}
        <h2>Protocols</h2>
        <ol class="custom-counter">
    {% endif %}
            <li class="list-group-item">
                {{ article.authors }} ({{ article.year }})<br/>
                <a href="{{ article.doi}}">{{ article.title }}</a><br/>
                <em>{{ article.journal }}</em><br/>
                {% if article.volume %} vol. {{ article.volume }}, {% endif %} {% if article.issue %} issue {{ article.issue }}, {% endif %} {% if article.pages %} pp. {{ article.pages }}{% endif %}
            </li>
    {% if forloop.last %}
        </ol>
    {% endif %}
{% endfor %}
{% for article in publications.patent %}
    {% if forloop.first %}
        <h2>Patents</h2>
        <ol class="custom-counter">
    {% endif %}
            <li class="list-group-item">
                {{ article.authors }} ({{ article.year }})<br/>
                <a href="{{ article.doi}}">{{ article.title }}</a><br/>
                <em>{{ article.journal }}</em><br/>
                {% if article.volume %} vol. {{ article.volume }}, {% endif %} {% if article.issue %} issue {{ article.issue }}, {% endif %} {% if article.pages %} pp. {{ article.pages }}{% endif %}
            </li>
    {% if forloop.last %}
        </ol>
    {% endif %}
{% endfor %}
{% for article in publications.dissertation %}
    {% if forloop.first %}
        <h2>Dissertations</h2>
        <ol class="custom-counter">
    {% endif %}
            <li class="list-group-item">
                {{ article.authors }} ({{ article.year }})<br/>
                <a href="{{ article.doi}}">{{ article.title }}</a><br/>
                <em>{{ article.journal }}</em><br/>
                {% if article.volume %} vol. {{ article.volume }}, {% endif %} {% if article.issue %} issue {{ article.issue }}, {% endif %} {% if article.pages %} pp. {{ article.pages }}{% endif %}
            </li>
    {% if forloop.last %}
        </ol>
    {% endif %}
{% endfor %}
{% endblock %}
