<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Members</title>
</head>
<body>
    <h1>Current Lab Members</h1>
    <ul>
        {% for member in people.current_members %}
            <li>
                <a href="{% url 'publication_list' first_name=member.first_name last_name=member.last_name %}">
                    {{ member.first_name }} {{ member.last_name }} - {{ member.title }}
                    ({{ member.year_start }} - present)
                </a>
            </li>
        {% endfor %}
    </ul>
    <h1>Former Lab Members</h1>
    <ul>
        {% for member in people.former_members %}
            <li>
                <a href="{% url 'publication_list' first_name=member.first_name last_name=member.last_name %}">
                    {{ member.first_name }} {{ member.last_name }} - {{ member.title }}
                    ({{ member.year_start }} - {{ member.year_finish }})
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
