{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<!-- Carousel -->
<div class="p-3 mb-1">
    <div id="home-screen-carousel" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#home-screen-carousel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#home-screen-carousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#home-screen-carousel" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner rounded-3">
            <div class="carousel-item active">
                <img src="/static/carousel1.jpg" alt="1" class="d-block w-100">
                <div class="carousel-caption">
                    <h3>Los Angeles</h3>
                    <p>We had such a great time in LA!</p>
                </div>
            </div>
            <div class="carousel-item rounded-3">
                <img src="/static/carousel2.jpg" alt="2" class="d-block w-100">
            </div>
            <div class="carousel-item rounded-3">
                <img src="/static/carousel3.jpg" alt="3" class="d-block w-100">
                <div class="carousel-caption">
                    <h3>Duxbury, MA, USA</h3>
                    <p>Duxbury is located at south of Boston.</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#home-screen-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#home-screen-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>
<div class="p-5 mt-1 rounded-3">
    <h1 class="display-6 fw-bold pb-5">I will win a Nobel Prize.</h1>
    <p class="col-md-9 fs-5">Chromatin architecture and transcription factor (TF) binding underpin cell-fate
        specification during development, but their mutual regulatory relationships remain unclear. Here we report an
        atlas of dynamic chromatin landscapes during stomatal cell-lineage progression, in which sequential cell-state
        transitions are governed by lineage-specific bHLH TFs. Major reprogramming of chromatin accessibility occurs at
        the proliferation-to-differentiation transition. We discover novel co-cis regulatory elements (CREs) signifying
        the early precursor stage, BBR/BPC (GAGA) and bHLH (E-box) motifs, where master-regulatory bHLH TFs, SPEECHLESS
        and MUTE, consecutively bind to initiate and terminate the proliferative state, respectively. BPC TFs complex
        with MUTE to repress SPEECHLESS expression through a local deposition of repressive histone marks. We elucidate
        the mechanism by which cell-state-specific heterotypic TF complexes facilitate cell-fate commitment by
        recruiting chromatin modifiers via key co-CREs.</p>
    <p class="col-md-9 fs-5">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur
        tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis
        tristique sem. Proin ut ligula vel nunc egestas porttitor.</p>
    <p class="col-md-9 fs-5">Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac
        turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed,
        euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora
        torquent per conubia nostra, per inceptos himenaeos.</p>
    <p class="col-md-9 fs-5">Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing
        diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc
        feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse
        in justo eu magna luctus suscipit. Sed lectus. Integer euismod lacus luctus magna.</p>
</div>
{% endblock %}
{% block extra_script %}
{% endblock %}