{% extends "base.html" %}
{% block title %}KimLab | home{% endblock %}

{% block extra_head %}
<style>
    /* Black outline for text in carousel for readability */
    .carousel-caption h3,
    .carousel-caption p {
        text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px  1px 0 #000,
        1px  1px 0 #000;
    }

    .custom-video {
        width: 100%;
        height: auto; /* Ensure the aspect ratio is maintained */
        max-height: 400px; /* Default max height for larger screens */
    }

    @media (max-width: 768px) {
        .custom-video {
            max-height: 250px; /* Adjusted max height for tablets */
        }
    }

    @media (max-width: 576px) {
        .custom-video {
            max-height: 200px; /* Adjusted max height for smartphones */
        }
    }
</style>
{% endblock %}

{% block content %}
<!-- Carousel -->
<div class="p-0 mb-5">
    <div id="home-screen-carousel" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#home-screen-carousel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#home-screen-carousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#home-screen-carousel" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner rounded-3">
            <div class="carousel-item active">
                <img src="/static/carousel1.jpg" alt="1" class="d-block w-100">
                <div class="carousel-caption">
                    <h3>Crouse College</h3>
                    <p>Syracuse University</p>
                </div>
            </div>
            <div class="carousel-item rounded-3">
                <img src="/static/carousel2.jpg" alt="2" class="d-block w-100">
                <div class="carousel-caption">
                    <h3>Duxbury, MA, USA</h3>
                    <p>Duxbury is located at south of Boston.</p>
                </div>
            </div>
            <div class="carousel-item rounded-3">
                <img src="/static/carousel3.jpg" alt="3" class="d-block w-100">
                <div class="carousel-caption">
                    <h3>Duxbury, MA, USA</h3>
                    <p>Duxbury is located at south of Boston.</p>
                </div>
            </div>
            <!-- <div class="carousel-item active">
                <video oncontextmenu="return false;" class="d-block w-100 custom-video" style="height: 400px;" autoplay loop muted>
                    <source src="/static/Zuch-Herrmann_VideoS5.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div> -->
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#home-screen-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#home-screen-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>
<div class="p-3 rounded-3">
    <div class="row">
        <div class="col-2">
            <!-- left margin -->
        </div>
        <div class="col-8">
            <h1 class="display-6 fw-bold pb-4">Welcome to Kim Lab</h1>
        </div>
        <!-- Right Column -->
        <div class="col-2">
            <!-- right margin -->
        </div>
    </div>
    <!-- Left Column -->
    <div class="row">
        <!-- Left Column: Hidden on small screens -->
        <div class="col-md-2 d-none d-md-block"></div>

        <!-- Center Column: Full width on small screens -->
        <div class="col-12 col-md-8">
            Eun-Deok Kim is a plant molecular and cell biologist with a keen interest in understanding how robust epigenetic and genetic states are established in differentiated cells to drive cell fate and adapt to ever-changing environmental conditions. Using stomata as a model system, her research focuses on: (1) uncovering the mechanisms of chromatin regulatory dynamics that drive stem cell fate programming, and (2) exploring how stem cells initiate specific cellular mechanisms integral to adapting to changing environment. To address these questions, she employs a diverse array of genomics and epigenomics tools, confocal microscopy, and CRISPR genome editing, alongside traditional genetic, molecular biology, and biochemical methodologies.
        </div>
        <!-- Right Column: Hidden on small screens -->
        <div class="col-md-2 d-none d-md-block"></div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
{% endblock %}