<!-- opportunity/templates/opportunity/job_opening.html -->
{% extends "base.html" %}

{% block title %}
KimLab | Opportunities
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-2 d-none d-lg-block"></div>
    <div class="col-lg-8 col-md-12">
        <h3>Available Positions</h3>

        <p>I am looking for curious and passionate scientists to join our journey. Whether you're a student, researcher, or
            potential collaborator, I'd love to hear from you.</p>

        <ul>
            <li>Postdoctoral Fellow</li>
            <li>Graduate Student</li>
            <li>Lab Technician</li>
            <li>Undergraduate Student</li>
        </ul>

        <p>If you are interested, please send</p>
        <ol>
            <li>a cover letter briefly summarizing your research interests and career goals</li>
            <li>your CV</li>
            <li>contact information for three references</li>
        </ol>
        <p>to <span id="contentToCopy1" style="color: var(--primary-color);" onclick="copyToClipboard('contentToCopy1')">ekim112@syr.edu</span>
        <img src="/static/icons/copy_button.svg" alt="Copy" style="cursor: pointer;vertical-align: middle;height: 1.5em;width: auto;" onclick="copyToClipboard('contentToCopy1')">
            with "[POSITION] - your name" in the subject line and include CV and a letter of interest.</p>
        <p>Undergraduate students who are interested in research opportunities, please send an CV and letter of interest to <span style="color: var(--primary-color);" onclick="copyToClipboard('contentToCopy1')">ekim112@syr.edu</span>
            <img src="/static/icons/copy_button.svg" alt="Copy" style="cursor: pointer;vertical-align: middle;height: 1.5em;width: auto;" onclick="copyToClipboard('contentToCopy1')">.</p>
    </div>
    <div class="col-lg-2 d-none d-lg-block"></div>
</div>
{% endblock %}