{% extends "base.html" %}
{% block title %}KimLab | Contact{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-4 col">
            <h3>Contact Information</h3>
            <p style="margin-bottom: 0.5rem;"><strong>Mailing Address</strong></p>
            <p style="margin-left: 1rem; margin-bottom: 0;">Eun-Deok Kim's Lab<br/>
            <p style="margin-left: 1rem; margin-top: 0;margin-bottom: 0;">456 Life Sciences Complex</p>
            <p style="margin-left: 1rem; margin-top: 0;margin-bottom: 0;">107 College Place</p>
            <p style="margin-left: 1rem; margin-top: 0;margin-bottom: 1rem;">Syracuse, NY 13244</p>
            <p style="margin-bottom: 0.5rem;"><strong>Phone</strong></p>
            <p style="margin-left: 1rem; margin-bottom: 1rem;">Office: (315) 443-8578</p>
            <p style="margin-bottom: 0.5rem;"><strong>Email</strong>
            <p style="margin-left: 1rem; margin-bottom: 1rem;">
                <!-- Content to be copied -->
                <span id="contentToCopy2" style="color: var(--primary-color);" onclick="copyToClipboard('contentToCopy2')">ekim112@syr.edu</span>
                <img src="/static/icons/copy_button.svg" alt="Copy" style="cursor: pointer;vertical-align: middle;height: 1.5em;width: auto;" onclick="copyToClipboard('contentToCopy2')">
                {% comment %} <!-- Feedback message when copied-->
                <span id="feedback" style="color: var(--primary-color); display: none;">Email copied to clipboard!</span> {% endcomment %}
            </p>
        </div>
        <div class="col-lg-8 col">
            <h3>Available Positions</h3>
            <ul>
                <li>1 Postdoctoral Fellow</li>
                <li>2 Graduate Students</li>
                <li>1 Technician</li>
            </ul>
            <p>Please send</p>
            <ol>
                <li>a cover letter briefly summarizing your research interests and career goals</li>
                <li>your CV</li>
                <li>contact information for three references</li>
            </ol>
            <p>to <span id="contentToCopy1" style="color: var(--primary-color);" onclick="copyToClipboard('contentToCopy1')">ekim112@syr.edu</span> with "[POSITION] - your name" in the subject line and include CV and a letter of interest.</p>
            {% comment %} <p>Undergraduate students in their sophomore or higher year who are interested in research opportunities,
                please send an unofficial transcript and letter of interest.</p> {% endcomment %}
        </div>
    </div>
    <div class="row pt-4">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2916.158749671536!2d-76.1337459237046!3d43.03809127113797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d9f37573c51c4b%3A0xe32157d0c0ca992!2sSyracuse%20University%20Department%20of%20Biology!5e0!3m2!1sen!2sus!4v1721742928292!5m2!1sen!2sus"
                width="100%"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
    </div>
{% endblock %}
